body{
    background-color: blanchedalmond;
}
#wholetweet {
    width: 300px;
    position: relative;
    border: 2px solid black;
    border-radius: 10px; /*角を丸く*/
    margin: 10px;
    padding: 5px;
    backdrop-filter: blur(3px); /* 背景をぼかした */
}

#iconimage{
    border-radius: 50%;
    float: left;
}
#Name{
    font-size: large;
}